.App {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row-reverse;
	align-items: center;

	height: 100vh;

	color: rgb(0, 204, 255);
	background-color: rgb(61, 60, 60);
}

.counter__window {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 15px;

	height: 400px;
	width: 500px;

	border: 2px solid rgb(0, 204, 255);
	border-radius: 15px;

	h1 {
		text-align: center;
		font-size: 40px;
	}
}

.counter__background {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 15px;

	border: 2px solid rgb(0, 204, 255);
	border-radius: 15px;

	width: 100%;
	height: 60%;
}

.counter__start__values {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 20px;
}

.counter__windows {
	min-width: 535px;
	min-height: 435px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 30px;

	border: 2px solid rgb(0, 204, 255);
	border-radius: 10px;
}

.values_values {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.inputs__values {
	min-width: 90%;
	min-height: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border: 2px solid rgb(0, 204, 255);
	border-radius: 10px;

	gap: 20px;
}
.input__max__value {
	text-align: center;
	direction: none;

	font-size: 18px;

	border: 4px solid rgb(0, 204, 255);
	border-radius: 10px;
	height: 30px;
}

input:focus {
	outline: 3px solid rgb(152, 231, 251);
}

.input__start__value {
	text-align: center;
	direction: none;
	font-size: 18px;

	height: 30px;

	border: 4px solid rgb(0, 204, 255);
	border-radius: 10px;
}

.incorrect-value {
	text-align: center;
	direction: none;
	font-size: 18px;

	height: 30px;

	border: 4px solid rgb(255, 17, 0);
	border-radius: 10px;
	background-color: rgb(255, 73, 73);

	&:focus {
		outline: 3px solid rgb(253, 99, 88);
	}
}

.counter__text {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 700px;
	font-size: 40px;
}

.buttons__items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	gap: 40px;

	height: 40%;
	width: 100%;

	border: 2px solid rgb(0, 204, 255);
	border-radius: 15px;
}

.button__item {
	display: flex;
	justify-content: center;
	align-items: center;

	outline: none;

	min-width: 500px;
	min-height: 150px;

	color: rgb(87, 87, 87);

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 700px;
	font-size: 40px;

	border: none;
	border-radius: 15px;
	border: 2px solid rgb(0, 204, 255);

	cursor: pointer;

	&:active {
		background-color: rgb(61, 60, 60);
		color: rgb(0, 204, 255);
		border: 2px solid rgb(0, 204, 255);
	}
}

.button {
	outline: none;

	min-height: 80px;
	min-width: 40%;

	color: rgb(87, 87, 87);

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 40px;

	background-color: rgb(0, 204, 255);
	border: none;
	border-radius: 15px;

	cursor: pointer;

	&:active {
		background-color: rgb(61, 60, 60);
		color: rgb(0, 204, 255);
		border: 2px solid rgb(0, 204, 255);
	}
}

.disabled {
	min-height: 80px;
	min-width: 200px;

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 700px;
	font-size: 40px;

	opacity: 0.5;

	background-color: rgb(0, 204, 255);
	border: none;
	border-radius: 15px;
}

.redCounter {
	color: rgb(170, 2, 2);
}
